.entry--search {
    .clearfix();
    vertical-align: middle;

    .entry--trigger {
        float: right;
    }
}

.search--container {
    float: right;

    .search--switch {
        display: none;
    }

    .search--main {
        .unitize(right, 50);
        position: absolute;
        top: 0; left: 0;
    }

    .search--images {
        .unitize-width(40);
        .unitize(margin-right, 10);
        float: right;

        .btn--webcam-image {
            display: none;
        }

        .search--image-url {
            display: none;
        }

        .search--webcam-video {
            display: none;
        }

        #image-upload {
            .appearance(none);
            opacity: 0;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            pointer-events: none;
            position: absolute;
        }

        .btn--upload-image {
            .unitize-width(40);
            display: block;
            float: right;

            .upload-image--icon {
                .unitize(font-size, 20);
                vertical-align: middle;

                &:before {
                    content: @sw-icon-pictures;
                }
            }
        }
    }
}

@media screen and (min-width: @phoneLandscapeViewportWidth) {

    .search--container {
        .clearfix();
        position: relative;
        top: 0; left: 0;
        float: none;

        .search--main {
            .unitize(margin-right, 50);
            position: absolute;
            top: 0; left: 0; right: 0;
        }

        .search--switch {
            .unitize-width(40);
            display: block;
            float: right;

            .btn--search-image {
                .unitize-width(40);

                &.is--active {
                    .linear-gradient(@btn-primary-top-bg, @btn-primary-bottom-bg);
                    border: 0 none;
                    color: @btn-primary-text-color;

                    &:hover {
                        background: @btn-primary-hover-bg;
                        color: @btn-primary-hover-text-color;
                    }
                }

                .icon--pictures {
                    .unitize(font-size, 20);
                    vertical-align: middle;
                }
            }
        }

        .search--images {
            .clearfix();
            .unitize(margin-right, 50);
            position: absolute;
            top: 0; left: 0; right: 0;
            width: auto;
            float: none;

            .search--image-url {
                .unitize(right, 100);
                display: block;
                position: absolute;
                top: 0; left: 0;
            }

            .search--image-input {
                .unitize-height(40);
                .unitize-padding(9, 9);
                background: #f8f8fa;
                vertical-align: middle;
                display: block;
                width: 100%;
            }

            .btn--upload-image {
                .unitize(margin-right, 10);

                .upload-image--icon {
                    .unitize(font-size, 20);
                    vertical-align: middle;

                    &:before {
                        content: @sw-icon-folder;
                    }
                }
            }

            .btn--webcam-image {
                .unitize-width(40);
                display: block;
                float: right;

                .icon--camera {
                    .unitize(font-size, 20);
                    vertical-align: middle;
                }
            }

            .search--webcam-video {
                .unitize-padding(20, 20);
                .unitize(top, 50);
                .unitize(left, -40);
                .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.2));
                display: none;
                position: absolute;
                z-index: 99999;
                background: #ffffff;
                text-align: left;

                video {
                    .unitize(margin-bottom, 20);
                    .unitize-width(400);
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                .search--webcam-snapshot {
                    .unitize(font-size, 18);
                    display: block;
                    text-align: center;

                    .icon--camera {
                        .unitize(font-size, 20);
                        .unitize(margin-right, 5);
                        .unitize(top, 2);
                        position: relative;
                    }
                }
            }
        }
    }
}
